*{
    text-align: center;
    background-color: rgb(110, 182, 110);
}
header h1{
    color: rgb(82 34 34);
    font-size : revert;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header p {
    font-size: 55px;
}
ul{
    list-style: none;
}
#family {
text-align: center;
}
header nav li a {
    font-size: 36px;
}
#sales {
    font-size: 36px;
}
#locations {
    color: rgb(82 34 34);
    font-size : revert;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}